
.vscode/c_cpp_properties.json
.vscode/settings.json
tempCodeRunnerFile.c
tempCodeRunnerFile.exe
tempCodeRunnerFile.h
*.exe
*.json
*.o
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
*.out
app
c