
.vscode/c_cpp_properties.json
.vscode/settings.json
tempCodeRunnerFile.c
tempCodeRunnerFile.exe
tempCodeRunnerFile.h
*.exe
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
*.out
app
c
.vscode/tasks.json
.vscode/launch.json
.vscode/sftp.json
